<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') -%>
  <title>Document</title>
</head>

<body>
  <!-- header -->
  <%- include('../partials/header') -%>
  <!-- end header -->

  <!-- main -->
  <main class="container">
    <div class="jumbotron mt-3">
      <h1><%= title %></h1>
      <p class="lead"><%= description %></p>
    </div>
  </main>
  <!-- end main -->

  <!-- footer -->
  <%- include('../partials/footer') -%>
  <!-- end footer -->

  <!-- script -->
  <%- include('../partials/script') -%>
  <!-- end script -->

</body>

</html>